/* Custom Styles */

body {
  background-color: #000; /* Black background */
  color: #eee; /* Light grey text color for better readability than pure white */
  /* Add these for vertical centering */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.screen {
  /* Screens are hidden by default, JS will show the active one */
  display: none;
}

/* Add any other global styles or overrides here if needed */
